.logbook-container {
    width: 65vw;
    box-sizing: border-box;
}

.table-container {
    width: 150%;
}

.logbook-title {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 50px;
    margin-top: 5%;
    margin-left : 18%;
}

.no-todos-message {
    margin-left : 12%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 30px;
    color: #555;
}

.back-to-list {
    position: fixed;
    right: 0;
    top: 0;
    width: 40px;
    height:40px;
    padding: 8px;
    background-color: #33333300;
    border-color: #33333300;
    transition: transform .2s;
}

.back-to-list:hover {
    transform: scale(1.1);
    color: #ccc;
}

.logbook-table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 12%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
}
.logbook-table thead {
    background-color: #080808;
}

.logbook-table th {
    border: 1px solid #dddddd00;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f200;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    color: #bdbdbd;
    font-variation-settings: "wdth" 100;
    font-size: 22px;
}

.logbook-table td {
    border: 1px solid #dddddd00;
    padding: 15px;
}

.completed-todo-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 30px;
    padding-right: 30px;
}

.completed-todo-date {
    font-size: 25px;
    color: #555;
    text-align: left;
}

.logbook-table th:first-child {
    border-top-left-radius: 8px;
}

.logbook-table th:last-child {
    border-top-right-radius: 8px;
}

@media (max-width: 750px) {
    .logbook-table th {
        font-size: 15px;
    }
    .completed-todo-text {
        font-size: 20px;
    }
    .completed-todo-date {
        font-size: 15px;
        white-space: pre;
    }
    .logbook-table td {
        padding: 5px;
    }
    .logbook-table {
        margin-left: 10%;
    }
    .logbook-title {
        font-size: 35px;
    }
}

@media (max-width: 560px) {
    .logbook-table {
        margin-left: 7%;
    }
    .logbook-title {
        margin-left: 12%;
    }
}

@media (max-width: 499px) {
    .logbook-table th {
        font-size: 10px;
    }
    .completed-todo-text {
        font-size: 15px;
    }
    .completed-todo-date {
        font-size: 10px;
        white-space: pre;
    }
    .logbook-table td {
        padding: 5px;
    }
    .logbook-table {
        margin-left: 5%;
    }
    .logbook-title {
        font-size: 30px;
        margin-left: 43px;
        margin-top: 15px;
    }
}