.todo-form {
    display: flex;
    flex-direction: column;
}

.todo-input {
    padding: 0.5em;
    font-size: 1.5em;
    border: 1px solid #cccccc00;
    border-radius: 8px;
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: rgb(46, 46, 46);
    box-shadow: rgba(0, 0, 0, 0.719) 0px 5px 15px;
}

.description-input {
    padding: 0.5em;
    border: 1px solid #cccccc00;
    border-radius: 8px;
    font-size: 1.1rem;
    resize: vertical;
    overflow: auto;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: rgb(46, 46, 46);
    box-shadow: rgba(0, 0, 0, 0.719) 0px 5px 15px;
}

.add-button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: #b8b8b8;
    background-color: #242424;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width:6rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
    font-variation-settings:
    "wdth" 100;
    box-shadow: rgba(0, 0, 0, 0.719) 0px 5px 15px;
}

.add-button:hover {
    background-color: #333333;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 2em;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.5em;
}

h5{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: italic;
    font-variation-settings:
    "wdth" 100;
    position: absolute;
    margin-left: 153px;
    margin-top: 60px;
}

.form-container {
    margin-left: 24px;
}

.date-picker {
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.5rem;
    background-color: #24242400;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    width: 12rem;
}

::-webkit-calendar-picker-indicator {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

::-webkit-calendar-picker-indicator:hover {
    transform: scale(1.2);
}

::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field {
    transition: transform 0.2s;
}

::-webkit-datetime-edit-year-field:hover,
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover {
    color: #636363;
}

.color-selector {
    display: flex;
    gap: 1em;
    margin-bottom : 20px;
}

.color-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: border-color 0.2s;
    border-radius: 50%;
    transition: transform .2s;
}

.color-box:hover {
    transform: scale(1.1);
}

.color-box.selected {
    border-color: #000000;
    transform: scale(1.2)
}