.todo-container {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    padding: 20px;
}

.todo-list {
    width: 400px;
    margin-top: 10px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 50px;
    margin-top: 5px;
}

ul {
    padding-left: 0;
}

li.todo-item {
    display: flex;
    align-items: flex-start; /* Adjust alignment for flex items */
    gap: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 25px;
    width: 900px;
}

.color-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333; /* Optional: adds a border to the color circle */
}

.todo-date {
    font-size: 0.9em;
    color: #555;
    min-width: 100px; /* Ensures the date has consistent spacing */
}

.todo-text {
    flex-grow: 1;
}

.remove-button {
    margin: 5px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    font-size: 15px;
    color: rgb(138, 138, 138);
    transition: transform .2s;
}

.remove-button:hover {
    transform: scale(1.5);
    color: rgb(145, 49, 49);
}

.traffic-light {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto; /* Adjust size as needed */
    height: 500px;
    margin-right: 20px; /* Optional: adds some margin from the edge */
    z-index: 1000; /* Ensures it stays above other content */
}

