.todo-container {
    display: flex;
    gap: 60px;
    width: 100%;
}

.todo-list {
    width: 50%;
    margin-top: 10px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 5px;
}

ul {
    padding-left: 0;
}

li.todo-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 25px;
    width: 100%;
    position: relative;
}

p.todo-description {
    margin: 15px 0px 10px 0px;
    color:rgb(161, 161, 161);
    white-space: pre-wrap;
    font-size: 0.8em;
}

.todo-assigned-date {
    color:rgb(116, 116, 116);
    font-size: 0.6em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    white-space: pre;
    margin: 0px;
}

.todo-assigned-label {
    color:rgb(116, 116, 116);
    font-size: 0.6em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    white-space: pre;
    margin: 0px;
}

.todo-actions {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: auto;
}

.color-indicator {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
}

.todo-date {
    font-size: 20px;
    color: #727272;
    min-width: 100px;
    margin-top: 4px;
    white-space: nowrap;
}

.todo-text {
    flex-grow: 1;
}

.remove-button, .complete-button, .edit-button {
    margin-left: 5px;
    margin-top: 3px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    width: 20px;
    height: 20px;
    color: rgb(110, 110, 110);
    transition: transform .2s;
}

.remove-button:hover {
    transform: scale(1.5);
    color: rgb(184, 32, 32);
}


.complete-button:hover {
    transform: scale(1.5);
    color: rgb(31, 168, 19);
}

.edit-button:hover {
    transform: scale(1.5);
    color: rgb(223, 161, 47)
}

.edit-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.edit-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.edit-title,
.edit-description,
.edit-date {
    margin-bottom: 10px;
}

.edit-description {
    min-height: 60px;
    resize: vertical;
    padding: 10px;
}

.edit-title {
    padding: 0.5em;
    font-size: 0.8em;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    width: auto;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    border: 1px solid #cccccc00;
    background-color: rgb(46, 46, 46);
    box-shadow: rgba(0, 0, 0, 0.315) 0px 2px 4px 0px, rgba(4, 8, 10, 0.432) 0px 2px 16px 0px;
}

.edit-date {
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.2rem;
    background-color: #24242400;
    border: 1px solid #cccccc00;
    border-radius: 8px;
    width: 9rem;
    padding: 3px;
    margin-top: 6px;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 2px 4px 0px, rgba(4, 8, 10, 0.432) 0px 2px 16px 0px;
}

.edit-description {
    height: 50px;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    font-size: 1.1rem;
    resize: both;
    overflow: auto;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    border: 1px solid #cccccc00;
    background-color: rgb(46, 46, 46);
    box-shadow: rgba(0, 0, 0, 0.315) 0px 2px 4px 0px, rgba(4, 8, 10, 0.432) 0px 2px 16px 0px;
}

.save-button , .cancel-button {
    margin-top: 13px;
    font-size: 0.7em;
    color: #ffffff;
    background-color: #242424;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:auto;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10px;
    transition: transform .2s;
    display: flex;
    flex-direction: column;
}

.save-button:hover {
    transform: scale(1.1);
}

.cancel-button:hover {
    transform: scale(1.1);
}


.logbook {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: #33333300;
    border-color: #33333300;
    padding: 10px;
    transition: transform .2s;
}

.logbook:hover {
    transform: scale(1.1);
    color: #ccc;
}

@media (max-width: 1350px) {
    .traffic-light {
        display: none;
    }
    
}
.traffic-light {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto; 
    height: 70vh;
    margin-right: 20px;
    z-index: 1000; 
}

.color-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.completed-color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

@media (max-width: 1100px) {
    .todo-list {
        width: 80%;
        margin-left: 45px;
        margin-top: 0px
    }
}

@media (max-width: 499px) {
    .todo-list {
        margin-left: 30px;
        margin-top: 0px
    }
    .todo-text {
        font-size: 20px;
        max-width: 100px;
        font-weight: 370;
    }
    .todo-date {
        font-size: 15px;
        margin-top: 8px;
        min-width: 79px;
    }
    p.todo-description {
        font-size: 15px;
    }
    h1 {
        font-size: 40px;
        margin-left: 20px;
    }
    .color-indicator {
        width: 20px;
        min-width: 20px;
        height: 20px;
    }
    .todo-actions {
        gap: 2px; 
    }
    .edit-title {
        font-size: 20px;
        width: auto;
        width: 180px;
    }
    .edit-description {
        font-size: 15px;
        width: 180px;
    }
    .save-button, .cancel-button {
        margin-left: 2px;
        font-size: 15px;
    }
    .edit-date {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
